#root {
  margin: 0;
}

#main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: #2800d7;
  font-weight: bold;
  text-decoration: none;
}

::selection,
a:hover {
  background: #2800d7;
  color: #fff;
}

.toc {
  margin-top: 0px;
}

.toc li {
  margin-bottom: 0px;
  list-style: none;
}

.toc a {
  color: #2800d7;
}

.toc a:hover {
  color: #fff;
}

p,
ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

h2 {
  margin-top: 60px;
}

.video-banner {
  position: absolute;
  width: min(900px, 100%);
  overflow: hidden;
  left: 0;
  right: 0;
  margin: -50px auto 0;
  pointer-events: none;
  z-index: -1;
  margin-top: 40px;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}

@keyframes whitePulse {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.75);
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 900px) {
  .video-banner {
    margin-top: 0;
    top: 0;
  }
}
/* 
.glider-plane {
  position: fixed;
  top: 50%;
  left: -10%;
  font-size: 48px;
  z-index: 9999;
  animation: fly-across 10s linear forwards infinite,
    wave-motion 10s ease-in-out infinite;
}

@keyframes fly-across {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

@keyframes wave-motion {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-250px);
  }
} */
